<div class="inicio">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong navBar">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->



                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-black" href="#inicio">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="#nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="#servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="/privacidad">Política de privacidad</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <div class="sindicatoBannerInicio">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="card cardSindi">
                        <img src="/assets/images/logoBlackSindicato.jpg" class="card-img-top"
                            alt="Fissure in Sandstone" />

                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="text-black">Participa con nosotros
                    </h2>
                    <hr>

                    <h5 class="" style="width: 85%;">Somos una asociación de trabajadores sin fines de lucro cuyo
                        principal objetivo es el estudio,
                        mejoramiento y defensa de los intereses económicos y laborales de los trabajadores para mejorar
                        su calidad de vida y la de sus familias.
                        <br> <br>
                        <button type="button" class="btn rojoBg text-white">Ver requisitos</button>
                    </h5> <br>
                    <hr>
                    <h5 class="scrollText1">Nuestra asociación esta constituida desde el año 2014 y está integrada por
                        trabajadores de la
                        rama de la industria textil. Nuestra consigna es y será siendo incrementar el nivel cultural de
                        los trabajadores a través de capacitaciones, para que de esta manera su campo de acción laboral
                        se amplie en el tema de la industria textil.
                        Las actividades de fabricación de textiles abarcan todo tipo de materiales, desde fibras
                        naturales, materiales petroquímicos o para el comercio. Algunos de los materiales son telas,
                        lonas, tejidos, mayas, monofilamentos, multifilamentos, cinta rafia, entre otros.
                    </h5>

                </div>
            </div>
        </div>
    </div>
    <div class="bannerSindicato2">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h2 class="text-center text-white">Nuestra misión</h2>
                    <h5 class="text-center text-white">Representar, defender, dirigir y dar seguimiento a los derechos
                        de los miembros de la asociación
                        para mejorar su situación laboral y por lo tanto tener una mejor calidad de vida. De esta manera
                        también se contribuye al progreso social en el país.</h5>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <div data-draggable="true" style="position: relative;">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5 valueProposition" data-v-271253ee="">
            <section class="mb-10 text-center">
                <h2 class="mb-5 text-center"> <span class="me-1"></span> <span style="color: #D42930;">Nuestros Valores
                    </span></h2>
                <div class="row gx-lg-5">
                    <div class="col-md-3 mb-5 mb-md-0">
                        <div class="p-3 bg-dark rounded-4 shadow-2-strong d-inline-block mb-4 ch-bg pointer"
                            onclick="location.href='#contacto';"> <i class="fa-solid fa-comment-dots fa-lg"
                                style="color: white;"></i> </div>
                        <hr class="rojoColor">
                        <h5 class="fw-bold mb-3">Dialogo</h5>
                        <p class="text-muted mb-0">Tener voz y voto.
                        </p>
                    </div>
                    <div class="col-md-3 mb-5 mb-md-0">
                        <div class="p-3 bg-dark rounded-4 shadow-2-strong d-inline-block mb-4 ch-bg pointer"
                            onclick="location.href='#contacto';"> <i
                                class="fa-solid fa-person-rays fa-lg text-white"></i>
                        </div>
                        <hr class="rojoColor">
                        <h5 class="fw-bold mb-3">Transparencia</h5>
                        <p class="text-muted mb-0">Información abierta y clara.</p>
                    </div>
                    <div class="col-md-3 mb-5 mb-md-0">
                        <div class="p-3 bg-dark rounded-4 shadow-2-strong d-inline-block mb-4 ch-bg pointer"
                            onclick="location.href='#contacto';"> <i
                                class="fa-solid fa-hand-holding-hand fa-lg text-white"></i>
                        </div>
                        <hr class="rojoColor">
                        <h5 class="fw-bold mb-3">Derechos y obligaciones de los agremiados</h5>
                    </div>
                    <div class="col-md-3 mb-5 mb-md-0">
                        <div class="p-3 bg-dark rounded-4 shadow-2-strong d-inline-block mb-4 ch-bg pointer"
                            onclick="location.href='#contacto';"> <i class="fa-solid fa-handshake-angle fa-lg"
                                style="color: white;"></i> </div>
                        <hr class="rojoColor">
                        <h5 class="fw-bold mb-3">Iniciativa</h5>
                        <p class="text-muted mb-0">Nuevas propuestas para mejorar el funcionamiento.
                        </p>
                    </div>
                </div> <br> <br>


            </section>
        </section>
        <!---->
    </div>
    <div class="noticiasDiv">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <img src="/assets/images/funcionaria1.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                        <div class="card-body">
                            <h5 class="card-title">México recibe 2023 con aumentos al salario mínimo y a los días de
                                vacaciones</h5>
                            <hr>
                            <p class="card-text">El aumento al salario mínimo y a los días de descanso para todos los
                                trabajadores mexicanos se hizo realidad este domingo con la llegada del Año Nuevo...</p>
                            <a href="#!" class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="/assets/images/textil1.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                        <div class="card-body">
                            <h5 class="card-title">Industria textil de Puebla prevé mayores inversiones y nuevos empleos
                                para el 2023</h5>
                            <hr>
                            <p class="card-text">Los empresarios expusieron que la alta demanda de producción por parte
                                de Estados Unidos seguirá por los próximos dos años...</p>
                            <a href="#!" class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <img src="/assets/images/sindicalMujer.jpg" class="card-img-top"
                            alt="Fissure in Sandstone" />
                        <div class="card-body">
                            <h5 class="card-title">Destacan papel de la mujer en el mundo sindical</h5> <hr>
                            <p class="card-text">Siempre es un enorme gusto venir a tierras duranguenses para encontrarme con la base trabajadora del IMSS, con sus representantes y con la estructura sindical de la Sección...</p>
                            <a href="#!" class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="/assets/images/shein.jpg" class="card-img-top"
                            alt="Fissure in Sandstone" />
                        <div class="card-body">
                            <h5 class="card-title">Luchando por un México más justo, donde se erradique la pobreza, la discriminación": Claudia Sheinbaum comparte</h5> <hr>
                            <p class="card-text">A través de una video conferencia, en la que se enlazaron decenas de tapatíos...</p>
                            <a href="#!" class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contacto" class="contactoDiv">
        <div data-draggable="true" style="position: relative;">
            <!---->
            <!---->
            <section draggable="false" class="container pt-5" data-v-271253ee="">
                <section class="mb-10 text-center">
                    <style>
                        hr.divider-vertical {
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 1px;
                            background-image: linear-gradient(180deg, transparent, hsl(0, 0%, 40%), transparent);
                            background-color: transparent;
                            height: 100%;
                        }
                    </style>
                    <div class="card mx-4 mx-md-5 shadow-5-strong"
                        style=" margin-top: -100px; background: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(30px); ">

                        <div class="card-body py-5 px-md-5">
                            <div class="row text-center">
                                <h3>COMUNÍCATE</h3> <br> <br> <br>
                            </div>

                            <div class="row d-flex justify-content-center topMargin18">
                                <div class="col-lg-6">
                                    <form action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
                                        <!-- Name input -->
                                        <div class="form-outline mb-4"> <input type="text" id="form4Example1"
                                                class="form-control formInput" name="name" required> <label
                                                class="form-label" for="form4Example1"
                                                style="margin-left: 0px;">Nombre</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 42.4px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div> <!-- Email input -->
                                        <div class="form-outline mb-4"> <input type="email" id="form4Example2"
                                                class="form-control formInput" name="email" required>
                                            <label class="form-label" for="form4Example2"
                                                style="margin-left: 0px;">Correo electrónico</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 88.8px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div> <!-- Message input -->
                                        <div class="form-outline mb-4"> <textarea class="form-control formInput"
                                                id="form4Example3" rows="4" name="message" required></textarea> <label
                                                class="form-label" for="form4Example3"
                                                style="margin-left: 0px;">Mensaje</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 60px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div>
                                        <!-- Checkbox -->
                                        <div class="form-check d-flex justify-content-center mb-4">
                                            <input class="form-check-input me-2 formInput" type="checkbox" value=""
                                                id="form2Example33" required />
                                            <label class="form-check-label" for="form2Example33">
                                                Acepto política de privacidad
                                            </label>
                                        </div>
                                        <!-- Submit button -->
                                        <button type="submit" class="btn  bgRedRuta btn-block"
                                            aria-controls="#picker-editor">Enviar</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <!---->
        </div>
    </div>
</div>